@import "Tools";

$main-bg-color4: #3c5999;
$main-bg-color3: #03AAEC;
$main-bg-color3-font: #ffffff;

$main-bg-color2: #eff3f6;
$main-bg-color1: #ffffff;

$font-size0: 16px;
$font-size1: 18px;
$font-size-title: 24px;
$font-color-title: #3c4652;
$font-color-gray: #84929e;

$font-family1: Arial, sans-serif;

$input-min-w: 272px;

$button-bg: $main-bg-color3;
$button-bg-hover: #0083b7;
$button-bg-disabled: #84929e;
$button-font-color: $main-bg-color3-font;

$round-button-bg: #EAF8FD;

