@import '../../../assets/scss/Config';

.photographers-page {
  display: flex;
  height: 100%;

  .photographers-side-bar {
    position: relative;
    background-color: $main-bg-color3;
    flex-basis: 60px;
  }

  .photographers-list-ui {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 50px;
  }

  .photographers-list {
    flex-basis: 100%;
    max-width: 1100px;
  }

  .photographers-list-item, .photographers-details-item {
    @extend %box-shadow;
    padding: 10px;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }

  .photographers-list-item > div:last-child, .photographers-details-item > div:last-child {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .photographers-list-item .avatar-container {
    flex-basis: 50px;
  }

  .photographers-details-item .avatar-container {
    position: relative;

    img.avatar {
      width: 200px;
    }

    .name {
      color: #fff;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .city {
      color: $font-color-gray;
      position: absolute;
      top: 30px;
      left: 5px;
    }
  }

  .info-specialization {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }

  .specialization-title {
    font-size: $font-size-title;
    margin-bottom: 15px;
  }

  .specialization-item {
    margin-bottom: 5px;
  }

  .info-container {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
  }

  .info-pictures {
    display: flex;
    flex-wrap: wrap;
  }

  .info-picture {
    margin-right: 5px;
  }

  .info-container .city {
    color: $font-color-gray;
  }

  .photographers-list-item img.avatar {
    border-radius: 50%;
  }

  .photographers-reload {
    display: flex;
    justify-content: center;
  }
}
